
header {
  display: flex;
  color: white;
  height: 70px;
  width: 100%;
}
.logo-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
}
.container h1 {
  color: #71c55d;
  font-size: 40px;
}

h4 {
  line-height: 10px;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 769px) {
  .container h4 {
    line-height: 30px;
    font-size: 25px;
    font-weight: 600;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .welcome h1{
    padding: 20px;
    font-size: 5px;
  }
}
.container h1, h4{
  text-align: center;
}

.logo-container .logo {
  background-image: url(../images/29231.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.navbar {
  transform: translateX(0);
}

.navbar ul {
  display: flex;
  position: relative;
  transition: .3s ease;
}

.navbar li {
  list-style-type: none;
}
.navbar li a{
  color: black;
  font-size: 20px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #222;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0;
  text-decoration: none;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #71c55d;
  transition: 0.3s;
}

.fa-bars {
  display: none;
  color: black;
}
@media screen and (max-width: 768px) {
  .fa-bars {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
  }
  .navbar{
    display: none;
  }
  .show-navbar ul{
    display: block;
    position: absolute;
    width: 50%;
    height: 100vh !important;
    position: fixed;
    left: 0;
    padding: 20px 20px;
    transition: .3s ease;
    flex-direction: column;
    background-color: #6FB3D2;
  }
  .navbar ul li {
    display: block;
    margin-bottom: 10px;
  }
  .navbar ul{
    transform: translateX(-2000px);
  }
  .navbar .mobile-nav-toggle.clicked ~ ul{
    display: block;
  }
}
.image-container {
  margin: 45px auto;
  width: 90%;
}
img {
  width: 100%;
  height: auto;
  display: block;
}